.col-md-12
	#pics.transitions-enabled
		- @pics.each do |pic|
			.box.panel.panel-default
				= link_to (image_tag pic.image.url)
				%h2= link_to pic.title, pic
				%span.glyphicon.glyphicon-heart
				= pic.get_upvotes.size
		

//= link_to "Gram It", new_pic_path